<!DOCTYPE html>
<html lang="en">
<head>
  <meta ch arset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/home.css"/>
  <title>Document</title>
</head>
<body>
  
  <%- include("partials/header", { username: name }) %>

  <% if(name === "cq") { %>
    <h1>welcome to cq</h1>
  <% } else { %>
    <h1> <%= name %> you are not welcome here</h1>
  <% } %>

  <ul>
    <% books.forEach(function(book){ %>
        <li> <%= book %> </li>
    <% }) %>
  </ul>
</body>
</html>